body{
    
    background-color: rgb(50, 46, 46);
    
}
/* MENU ĐA CẤP */
ul {
    list-style: none;
    overflow: hidden;
    background-color: rgb(96, 101, 94);
    margin: 0;
    padding: 0;
}
li {
    float: left ;

}

li a{
    display: inline-block;
    color: orange;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    
}
li a:hover, .dropdown:hover {
    background-color: rgb(151, 104, 11) ;
}

li.dropdown{
    display: inline-block;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(198,111,23,0);
    z-index: 1;
   
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: rgb(151, 104, 11);

}
.dropdown:hover .dropdown-content{
    display: block;
}
/* THẺ H1 NHẤP NHÁY   */
@-webkit-keyframes my {
    20% { color: #d7d70f; } 
    50% { color: #fff;  } 
    100% { color: #f8950a;  } 
}
@-moz-keyframes my { 
    20% { color: #d7d70f;  } 
    50% { color: #fff;  }
    100% { color: #f8950a;  } 
}
@-o-keyframes my { 
    20% { color: #d7d70f; } 
    50% { color: #fff; } 
    100% { color:#f8950a;  } 
}
@keyframes my { 
    20% { color: #d7d70f;  } 
    50% { color: #fff;  }
    100% { color:#f8950a;  } 
} 
.flash{
    border: 5px solid ;
    font-size:60px;
    font-family: verdana;
    text-align: center;
    background-color:rgb(60, 60, 60)k ;
    color:rgba(235, 146, 13, 0.87);
    -webkit-animation: my 2000ms infinite;
    -moz-animation: my 2000ms infinite; 
    -o-animation: my 2000ms infinite; 
    animation: my 2000ms infinite;
    
   
}

/* THẺ H2 VÀ H3  */
h2{
    border:2px solid;
    text-align: center;
   
    color:rgba(235, 146, 13, 0.87);
    font-size:30px;
      
}
h3{
    
    text-align: right;
    color:rgba(235, 146, 13, 0.87);
    font-size:20px;
}
/* TÊN XE VÀ THÔNG TIN */
.namecar{
    font-size:22px;
    font-family:verdana; 
    color:aliceblue;

}
blockquote{
    color:aliceblue;
    font-size: 18px;
}
/* THÔNG TIN CHI TIẾT */
.details{
    color:aliceblue;
}
/* ĐỊA CHỈ AD */
#diachi{
    color:aliceblue;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
h4{
    text-align: center;
    font-family: courier;
    color:aliceblue;
}

h5{
    text-align: center;
    font-family: courier;
    color:black;
}

h6{
    text-align: center;
    font-family:courier;
    color:black;
}


/* ZOOM GHOST & VIỀN */
.ghost {
    transition: all 0.8s ease;
}
.ghost:hover {
    transform: scale(1.2,1.2)
}
.ghost{
    border: 1px solid orange ;
}

/* ZOOM WRAITH & VIỀN */
.wraith {
    transition: all 0.8s ease;
}
.wraith:hover {
    transform: scale(1.2,1.2)
}
.wraith{
    border: 1px solid orange;
} 

/* ZOOM CULLINAN & VIỀN */
.cullinan {
    transition: all 0.8s ease;
}
.cullinan:hover {
    transform: scale(1.2,1.2)
}
.cullinan{
    border: 1px solid orange;
}

/* ZOOM PHANTOM & VIỀN */
.phantom {
    transition: all 0.8s ease;
}
.phantom:hover {
    transform: scale(1.2,1.2)
}
.phantom{
    border: 1px solid orange;
}

/* ZOOM DAWN  & VIỀN*/
.dawn {
    transition: all 0.8s ease;
}
.dawn:hover {
    transform: scale(1.2,1.2)
}
.dawn{
    border: 1px solid orange;
}

/* ZOOM BOAT-TAIL & VIỀN */
.boattail {
    transition: all 0.8s ease;
}
.boattail:hover {
    transform: scale(1.2,1.2);
}
.boattail{
    border: 1px solid orange;
};
table {
    font-family: arial, sans-serif;  
    border-collapse: collapse;
    width: 80%;
    
}  
td, th {
    border: 1px solid orange;
    text-align: left;
    padding: 8px;
    color:aliceblue;
    
};

tr:hover {
    cursor:pointer;
}
/* THAY ĐỔI MÀU KHI BÔI ĐEN ĐOẠN VĂN BẢN */
::selection{
    background:#046386; 
};
